<!-- contact-form.component.html -->
<form [formGroup]="contactForm" class="form">
  <app-input-field
    label="{{ 'email' | translate }}"
    [control]="formControl['email']"
    type="email"
    [submitted]="submitted"
    [errorMessages]="{
      required: 'emailIsRequired' | translate,
      email: 'invalidEmailFormat' | translate
    }"
  ></app-input-field>

  <app-input-field
    label="{{ 'names' | translate }}"
    [control]="formControl['firstName']"
    [submitted]="submitted"
    [errorMessages]="{
      required: 'namesAreRequired' | translate,
      pattern: 'onlyAlphabeticCharactersAreAllowed' | translate
    }"
  ></app-input-field>

  <app-input-field
    label="{{ 'surnames' | translate }}"
    [control]="formControl['lastName']"
    [submitted]="submitted"
    [errorMessages]="{
      required: 'surnamesAreRequired' | translate,
      pattern: 'onlyAlphabeticCharactersAreAllowed' | translate
    }"
  ></app-input-field>

  <app-input-field
    label="{{ 'comment' | translate }}"
    [control]="formControl['comment']"
    [isTextarea]="true"
    [submitted]="submitted"
    [errorMessages]="{
      required: 'commentIsRequired' | translate
    }"
  ></app-input-field>

  <div class="attachment">
    <label class="form-group__label" for="attachment"><i class="fa-solid fa-upload"></i></label>
    <input id="attachment" type="file" (change)="onFileChange($event)" />
    <b *ngIf="this.attachment?.name"
      >{{ 'file' | translate }}: {{ this.attachment!.name.substring(0, 20).trim() }}
      <span *ngIf="this.attachment!.name.length > 20">...</span></b
    >
    <div *ngIf="contactForm.get('attachment')?.errors?.['invalidFileType']">
      <br />
      <small class="error-message">{{ 'onlyImageOrPDFFilesAreAllowed' | translate }}</small>
    </div>
  </div>

  <div class="actions">
    <app-button text="send" [type]="typeButton.PRIMARY" (actionClick)="onSubmit()"></app-button>
  </div>
</form>
